#about {
  color: $primary-text-color;
  border-bottom: 2px solid $divider-color;
  h1 {
    color: $secondary-text-color;
    &::first-letter {
      font-size: 200%;
    }
  }
  i {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}

.fa-html5 {
  color: orangered;
}

.fa-css3 {
  color: blue;
}

.fa-js {
  color: yellow;
}

.fa-sass {
  color: hotpink;
}

.fa-git {
  color: black;
}

.fa-react {
  color: lightseagreen;
}

.intro {
  line-height: 2.5rem;
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
}
