#about {
  color: $primary-text-color;
  border-bottom: 2px solid $divider-color;
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
}

.about__title {
  color: $secondary-text-color;
  &::first-letter {
    font-size: 200%;
  }
}

.about__intro {
  line-height: 2.5rem;
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.about__title--sub {
  font-family: Loto sans-serif;
  font-weight: 700;
  font-style: italic;
  @media screen and (max-width: 30rem) {
    font-size: 2.5rem;
  }
}

.about-skill {
  font-size: 5rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 30rem) {
    font-size: 3.5rem;
  }
}

.fa-html5 {
  color: orangered;
}

.fa-css3 {
  color: blue;
}

.fa-js {
  color: yellow;
}

.fa-sass {
  color: hotpink;
}

.fa-git {
  color: black;
}

.fa-react {
  color: lightseagreen;
}
