.burger-container {
  position: relative;
  z-index: 9999;
  height: 5rem;
  width: 100%;
  background-color: darken($dark-primary-color, 15%);
  @media only screen and (min-width: 36.2em) {
    display: none;
  }
}

.burger {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  z-index: 9999;
  &-1,
  &-2,
  &-3 {
    width: 3.5rem;
    height: 0.5rem;
    background-color: $text-primary-color;
    margin: 0.6rem 0;
    transition: 0.4s ease-in-out;
  }
}

.transform .burger-1 {
  transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
}

.transform .burger-2 {
  opacity: 0;
}

.transform .burger-3 {
  transform: rotate(45deg) translate(-0.8rem, -0.8rem);
}
