%container {
  display: flex;
  justify-content: center;
  & > * {
    margin: 1rem;
  }
}

#about,
#projects,
#contact {
  font-size: 2rem;
  margin: 1rem 2rem 1rem 2rem;
}

.container__about {
  @extend %container;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
}

.container__projects--vanilla {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2.5rem;
  justify-items: center;
}

.container__projects--react {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2.5rem;
  justify-items: center;
  margin-bottom: 1rem;
}
