.contact-icon {
  font-size: 5rem;
  color: $default-primary-color;
}

.contact-about {
  color: $primary-text-color;
  line-height: 2.5rem;
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  font-size: 1.8rem;
  @media screen and (max-width: 30em) {
    font-size: 1.6rem;
  }
}

.contact-title {
  font-size: 3rem;
  color: darken($secondary-text-color, 10%);
  &::first-letter {
    font-size: 150%;
    color: darken($secondary-text-color, 15%);
  }
}
