#projects {
  border-bottom: 0.4rem solid $divider-color;
}

.project {
  width: 25rem;
  height: 25rem;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: all 1.25s;
    &:hover {
      opacity: 1;
    }
  }
}

.projects-title {
  color: darken($secondary-text-color, 10%);
  margin-bottom: 1rem;
  &::first-letter {
    font-size: 150%;
    color: darken($secondary-text-color, 15%);
  }
}
